.footer {
  width: 100%;
  height: 180px;
  background-image: url("../assets/images/footer.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include onTablet {
    height: 360px;
  }

  @include onDesktop {
    height: 360px;
  }
}
